.movie-container{
    max-width: fit-content;
    display: flex;
    padding:30px;
    margin: 8px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.thumbnail{
    width: 22%;
}

.thumbnail img{
    width: 100%;
}